// Colors
$off-black: #000000;
$dark-blue: #20222b;
$blue: #0f1115;
$light-blue: #17191f;
$off-white: #f30000a1;
$purple: #8e1616;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;